---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '286'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 22:51:16 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiJjNmNmNGM3YjVlZDcwZWQ1NzU3NWI2NDljOGEzNzU5NTI5ODc3YmQ5MWI4NGQ4ODRiZjczYjVhMWRkY2QxMmE4MjY3MWIzZjkwYWI3YjQwYiIsImlhdCI6MTc1ODQwODY3NS4yODg1NTUsIm5iZiI6MTc1ODQwODY3NS4yODg1NTksImV4cCI6MTc4OTUxMjY3NS4yNzk0NDcsInN1YiI6IiIsInNjb3BlcyI6WyJ2aWV3LXVzZXItcHJvZmlsZSIsInZpZXctcHJpdmF0ZS1yZXBvcnRzIl19.qYQwMeFOO34Um01XMcIBtlzvNiVRXFWgQf8Ier7Ufofz18LEmX5RIrIBXouqQa7QA_7Ae4q4b671-HHOlcJf0yxXr3KqWFcuTsABq3niftIk7PgbV86O_w-OHNwtVv33RCpR_BC6cnUBy5WPbnb4d-ZePJ0di2MxvHEghbA16wEn80YZlclg3ru_PE_xvwexS7fd7PRmmKclAd5fGTJedBExoSxZANIOP2uW1XJCVCFFiSttXun00XvVAJsf2Vm_uk-w4ZzP95dRvZl9uO-eVODniX39ilVkQZM45aZ-LHB0CYS-S_-w2ms7jPYzEoNnt-4yY6JHmJY7KyAKtdh_PfO5KwjZsn63SHwKfAUybiPKdy-oDhlRLGES72dHK4jMihFH-GCtZc5AgfsP1pUQrbM89iFADiVrCc0z_p-J5iobHDXdcWhBFVKIuicOXjGyK5gNWXhwNnuQchVFjDUlgKwJebSy3jk-t6SzoV_WJFRSDLE3fez0QRz4G396sxeYkKYIk_VCLmGleAROCfIyE-mERpJsLyNuCw2BdiN6iuhNPVQfqcU_gug3RUnrjMBKEfltMhfEDXFveOmiAYNkBAxIQh9vGrP1cexVm9p-ZRqaF1KM_k92xdM1ClxaMQVQEN-pptyT6FpRejNDD6vGkbWlU_AHZD7CkWCGfD81Kyk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '785'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"reportData":{"reports":{"data":[]}}}}'
  recorded_at: Sat, 20 Sep 2025 22:51:19 GMT
[...]
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '796'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:04:03 GMT
recorded_with: VCR 6.3.1
