---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 23:33:51 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiI4NWQ2MGEzMTMwNWJkYjI2YzgxYzNjZjA2NWE3MWI3MGNjMzJlZTc2MTlkZTA1ZWViMzJhMzlmMTYzNzMyODc0MDdjZDIyZTY0MzkyYTA2OCIsImlhdCI6MTc1ODQxMTIzMC43Mjg5MDEsIm5iZiI6MTc1ODQxMTIzMC43Mjg5MDQsImV4cCI6MTc4OTUxNTIzMC43MjAxNTQsInN1YiI6IiIsInNjb3BlcyI6WyJ2aWV3LXVzZXItcHJvZmlsZSIsInZpZXctcHJpdmF0ZS1yZXBvcnRzIl19.JYdYNCUuXkrWi-nwZWB7avSxz1A99YRZDhSAKB0vm_zlNNA2Us3fPlkxkjfsd6IeAXnwhsWNBmnfRpr4nbsFFhAc0Aobhp6-itmYEedRUBZqKaaV1jjlsupjDD-1thkgFbuNLA0SDNm7VRuA7nL2l_1oiEsEhPq6MzwOfJ259oX6O2x_yrAciP9udxpjacH18bwzlI3HzateaXGbWFIgyIiFY9F7PrfH5kwI8ZpwQsiva2iLzezdxQ22KsHH5XcZl_rJFu-abFhqD9p0BvFF25tFKywRv_Utx5qSRgdMYFCHNVP9aXgqNZZvCRz1vJz3nb5G6th4jiskCKuCzwHsOA093fXVoLtrnj_duNOhAsL48s9Xwvyn_pIRu9MITmMI-PA1Prh4sZdUyY0PCcD4BCTki79-u-NLbbW-clDauoUriJ1Z9zQezaGsV9GZHVySisttp-4LH38A5lNbKMOThVdyUA7-yhsmmFc2qkKsn9af6NabFjHtl1dlh4Tk5VB9uKFdyMbdJGMSQd-9b2kItMb--q1_gnzeGts960ZVwdh3t7KdHuiOeKmtw6f-etvu6lqBZYKdDVOSXuM5D709KJLPFUvu_rdoRT0V2SwXrzE7J0Ior_VSpr5NZusM2bvEstBmDy8C7KNCJz4Cy21bBAIVBmaAO3EEAsStgeGtSmA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '796'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"reportData":{"reports":{"data":[]}}}}'
  recorded_at: Sat, 20 Sep 2025 23:33:56 GMT
[...]
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '799'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sun, 21 Sep 2025 00:03:45 GMT
recorded_with: VCR 6.3.1
