---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '289'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 22:51:11 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiI5NzljMTkwODg3MjgzMTgzNmIyNzk2ZjlkOWQzMjExNTIwNzI1MTdhYmZkY2FhNjI1MTdjY2U2YTZmYWNlMTc5NGMzZTg4OWFlZGM4YzBjMCIsImlhdCI6MTc1ODQwODY3MS4wOTUxODQsIm5iZiI6MTc1ODQwODY3MS4wOTUxODgsImV4cCI6MTc4OTUxMjY3MS4wODY2NjEsInN1YiI6IiIsInNjb3BlcyI6WyJ2aWV3LXVzZXItcHJvZmlsZSIsInZpZXctcHJpdmF0ZS1yZXBvcnRzIl19.vjWUeknoyD_LheLtTIpfV2zaz0Iy7uL4ouU2nonyNfpyb1Q69D3b6EY-t-o-_T46tIF4koko1uPCv_mvqvFWMhZiE-Kpikroso8YLP0OZ376Bk45P4gfGg3Wpj94omOdk75tTELHZ96Xx2UY9ORAahK1tWNf5oddg7qu7-p68ADiYeTg3x6W7o7w6RWSjKFf_BO0vPiNlJbKZoMcbP8q1cqkU5DpNzX_qQW1GGHDX1A9-_5BxSfOMkAQ7yqer4_T9FrUGBB4boNxIuC2zaq42vkNx0DGcJ3-SbEFvbkVRMSwt06gAglNrblD9fDBaJi-U_OAz4i_0X2d-tkFzTsYdPKFj3B_JBnYrkN2uhdIKJtFc0z4XLUWjkcNaWiiAoOuqV6ODv-Q_IWorbvxDRH9rFe1NWYCB-vNzcWRt2CmJuhmcqO5s6JvbMvwW6UbW3GP463SaFnBlIaFx6X0_TvG4ONKYsR_gqp0bjUTmSeJu3IaseszeHbln6e4twy7WnGIZ8VZwhjAYyYqs_d0XFwNcS9AGUM9hEM3AY2UdArXY5IQp2DX7fx5lHfFX_204Q1lH-6OdlEN_H-gwJVS1V4iDYlffSa5n2Q7IleUcG04lDRDYKyeL7lW8fCFvd-i02ztl5pG5n4RN7xQS6iIBlG6ULYSW7BRjM7FFsb4WcPrC9M
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '788'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"reportData":{"reports":{"data":[]}}}}'
  recorded_at: Sat, 20 Sep 2025 22:51:13 GMT
[...]
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '797'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:04:03 GMT
recorded_with: VCR 6.3.1
