---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '294'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 23:25:27 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiI5ZmJmN2Y2NjA5ZGFmMTg2YzViMzI3YzgyOGI0NDc2NWQwYmFjM2QxMGMxNjg3NGQzYTIyYWZhZTkwZmZhMWJlYmMxNzhiNTIxMDM2OTkzMiIsImlhdCI6MTc1ODQxMDcyNy43MDYzODMsIm5iZiI6MTc1ODQxMDcyNy43MDYzODcsImV4cCI6MTc4OTUxNDcyNy42OTQ5NDgsInN1YiI6IiIsInNjb3BlcyI6WyJ2aWV3LXVzZXItcHJvZmlsZSIsInZpZXctcHJpdmF0ZS1yZXBvcnRzIl19.cRWl9oxv-n6Q6z6Tn5NL62qOAPoAX28wULk5_cdou7HB6WsZqmWzKqX-bnN-j4UkY0hoZBA30Gpz_zGq-fW-_TwuMV32f3S0fuIm12lVjAkqm8bTrXmKu84h2FlgPCXs7K4VHgY15MZ_IFjkk0-avpqQ-_xE0z4h1u1mszQDatqkWNzdDdJ8Zkj5rSTiQUrKyJyG_REzOD-5ZT3f5I6AmdkluteonWFfUwRmxGhOq--GyX-Trjt7skzg8kXGvZkXBg1anmuFL46SEVCVYjdFbscWjdg6X_SGoOnzr89eDCMfsJW-wSB-lnrs2_rMs2RCtCutJsH84jLQowlRlRQKcu-IJtolKuvC0HAXO4hwAiuH0kCq8xmJvlN4jq_KAkcrd4o2nRKlzHG9zGB14ZDIxw1UM9PpcyX3C0UuMA_1HzYclHcBzMtCcQNQbqlZsZO8CT4weTISIX_mZIxoLHWYxMvdZO-nLSlKCsPK6o2Tm4RI6rQNXpGgDycekZxwUCzLYLeJbHYstIViNcH83I1I0HFT-N-OMv0lMYpqHv6OQEB6L6vEIyr2-oXqxQB26s4Hi6xkhlEEFKhw4CB9uBkQb66C4E6_osFlLxr1hv7OvDJrh244jIDkFyRUe-hjzRMBX_uUAHnTKiFm5NmUE3u70W-NCua35hn9-MDhRl4BiBI
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '793'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"reportData":{"reports":{"data":[]}}}}'
  recorded_at: Sat, 20 Sep 2025 23:25:28 GMT
[...]
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!, $startTime: Float!, $endTime:
        Float) {\n  reportData {\n    reports(guildID: $guildID, limit: $limit, startTime:
        $startTime, endTime: $endTime) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":50,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '797'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:25:49 GMT
recorded_with: VCR 6.3.1
