---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($reportCode: String!) {\n  reportData {\n    report(code:
        $reportCode) {\n      masterData {\n        actors {\n          id\n          name\n          type\n          subType\n        }\n      }\n    }\n  }\n}\n","variables":{"reportCode":"ABC123def456"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '798'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sun, 21 Sep 2025 00:48:16 GMT
recorded_with: VCR 6.3.1
