---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '296'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sun, 21 Sep 2025 00:05:22 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!) {\n  guildData {\n    guild(id: $guildID)
        {\n      id\n      name\n      server {\n        name\n        slug\n        region
        {\n          name\n          slug\n        }\n      }\n      members {\n        data
        {\n          id\n          name\n          classID\n          level\n          guildRank\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiI4MWFjYTYzNTkzODQzYTY0MzRhZDdhYWE0NGQ1ODY2MzM4NGViN2IzMTQ0N2Q4ZjFkZTVmZWI0ZDI5NGJmMDA2OGU0NjlhYWFhYzQzN2QyMSIsImlhdCI6MTc1ODQxMzExOC43Mzg5MDcsIm5iZiI6MTc1ODQxMzExOC43Mzg5MSwiZXhwIjoxNzg5NTE3MTE4LjcyOTg2Nywic3ViIjoiIiwic2NvcGVzIjpbInZpZXctdXNlci1wcm9maWxlIiwidmlldy1wcml2YXRlLXJlcG9ydHMiXX0.J3JkNyRLeHwoYDoqHVj6GAmRKiHMf8bbLrD5S_aSutcAKI93Q8ZcBt81LEBw9BGUxB-AEuOCSRwTN6rPe5qmWCY2uXVKMiUxxTkYm_8X2sl9A68rXdcO_qazgoJyK62nsZZ0FQ9kL2nwIsbDQ798lBvJr1oRGtTikdE0OcSoYL4jwclj3dFl0A0NldrUphEak-uXz6hHJZkzZPYZZAcy2lREGW7z7uBWQRSrFKEZFGZepmElMqgzNc2i-npkDmt6CDXpV2aU7SqdhlvzjitHBoes67KPh78EQ90BcTm74kibZnI5L3QFOsJ0yZBhwhOUi-EZFK1THY2kLmbjH9L0fTJO7ZwnqlNmFEj-U5FweD8c9RsViNl8w3ZlTKD_RFWSBU97_303GGZdC3uO6u4kTxpGv-aVzQCMZRMUEPffBV3SW-dBIowMt-gUPZ6ced2UtFL2udHV0JPaylMXR-JOeD4kQwB6E3shwvQZCe50np1VjgNk3ujzaf2LXwc9hYEQCFjeN4O5DMTNvnYXOBK9ZtAMOxINjVPIy95YLSPUs_9uY7OESxeCodemadxqnqIQkMdJW8JLTRcNkfKxUuJFybuwgRCJsNLW_eBhjfuSbfcewie2LHeanIfy8xHELhJvQanRvNL3FVRgciIpfF0-_ekPx_Zx5A-25uFQiiiUmh0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '795'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"guildData":{"guild":{"id":123456,"name":"Everlasting Bloodline","server":{"name":"Laughing
        Skull","slug":"laughing-skull","region":{"name":"United States","slug":"US"}},"members":{"data":[{"id":12237660,"name":"Vitoo","classID":11,"level":70,"guildRank":6},{"id":28986411,"name":"Gripnrip","classID":11,"level":40,"guildRank":3},{"id":12237662,"name":"Viniven","classID":9,"level":38,"guildRank":6},{"id":12237669,"name":"Cratfu","classID":5,"level":35,"guildRank":1},{"id":12237667,"name":"Popebauer","classID":7,"level":35,"guildRank":2},{"id":12237661,"name":"Clauzz","classID":2,"level":35,"guildRank":4},{"id":12237666,"name":"Popeyike","classID":7,"level":35,"guildRank":4},{"id":12237664,"name":"Yike","classID":4,"level":35,"guildRank":4},{"id":12237670,"name":"Gregt","classID":2,"level":35,"guildRank":5},{"id":12237665,"name":"Icolis","classID":1,"level":35,"guildRank":5},{"id":12237663,"name":"Kuchar","classID":6,"level":35,"guildRank":5}]}}}}}'
  recorded_at: Sun, 21 Sep 2025 00:05:28 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!) {\n  guildData {\n    guild(id: $guildID)
        {\n      id\n      name\n      server {\n        name\n        slug\n        region
        {\n          name\n          slug\n        }\n      }\n      members {\n        data
        {\n          id\n          name\n          classID\n          level\n          guildRank\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '794'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sun, 21 Sep 2025 00:06:59 GMT
recorded_with: VCR 6.3.1
