---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '291'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 23:00:03 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!) {\n  guildData {\n    guild(id: $guildID)
        {\n      id\n      name\n      server {\n        name\n        slug\n        region
        {\n          name\n          slug\n        }\n      }\n      members {\n        data
        {\n          id\n          name\n          classID\n          level\n          guildRank\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiI1YzI2YTcyZTBjZDFjZDk0YzJjZDYwZWQ0ZjJiYTkxMzI5YmNjZDU5NzQ5NzQyZmVkNjQxNTkwOGJjMGEzYjczYjM0ZjNiZjE4NzY5YWFmYSIsImlhdCI6MTc1ODQwOTIwMy42Mjk3OTcsIm5iZiI6MTc1ODQwOTIwMy42Mjk4MDEsImV4cCI6MTc4OTUxMzIwMy42MjA2NjcsInN1YiI6IiIsInNjb3BlcyI6WyJ2aWV3LXVzZXItcHJvZmlsZSIsInZpZXctcHJpdmF0ZS1yZXBvcnRzIl19.c_NKQOG9DybJRfnOSNRUC7cKROOPyw10Av7zEeVjf1Bn0pUIyVC9RZFjvdwFT0R3UD6dr6sbOsWzWF4L1YS8vCs4Ad-pjO9yoyh1G1b6wcPWTpQswOK8Gzt-ZfUcgjIRKM65OUB_pf1vioC8ov_LoREFawV7tTmTUskd1xCFCwel_fwAd-o3fBcTomATwff0Ro4vcdRMYdLkM_7uHUOex44aICQsXCV4KTaKu3ihg5r_jLOJHdeAGL9OitLZi73x-20HK2Em69-mHsqwBDLUt7GuqGk3KlSjcEhX1Fb6-1l2asRDQsiBqa3Mu4oSoYQwPbWnZUyO-dETEGGQfbRa1Lnvukn43t-uUcLpgaEJ4DWZ2z83SlNw77QbTPmYXb75kT-5qNucSc7oIvzmZligCTshFxGQwe6wjXYb_VBZK_ABerf2WKhXh-pXkAymJV7jnbgeWt9gm2YgtmKjequg2sIo8ALTxjPnuuBjwz_1S9L3Tq8RsWs7rMbcgHuFmwMObBlI4QuHsnZKakICKLdWTmUZDWzwLpzIVArmixMUBCu8m5-nnKCdX6RTyIGL6vB6YL7_Hd08dXZqKKwzOFRhAjgH44tcX1-Yd1jKpx8XpQXfy8fVVWK2p2YrDyf3lAZZ-goNGo9_fVbHESZXC8B37jKbXYEdGFQLqNYx109zDcg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '790'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"guildData":{"guild":{"id":123456,"name":"Everlasting Bloodline","server":{"name":"Laughing
        Skull","slug":"laughing-skull","region":{"name":"United States","slug":"US"}},"members":{"data":[{"id":12237660,"name":"Vitoo","classID":11,"level":70,"guildRank":6},{"id":28986411,"name":"Gripnrip","classID":11,"level":40,"guildRank":3},{"id":12237662,"name":"Viniven","classID":9,"level":38,"guildRank":6},{"id":12237669,"name":"Cratfu","classID":5,"level":35,"guildRank":1},{"id":12237667,"name":"Popebauer","classID":7,"level":35,"guildRank":2},{"id":12237661,"name":"Clauzz","classID":2,"level":35,"guildRank":4},{"id":12237666,"name":"Popeyike","classID":7,"level":35,"guildRank":4},{"id":12237664,"name":"Yike","classID":4,"level":35,"guildRank":4},{"id":12237670,"name":"Gregt","classID":2,"level":35,"guildRank":5},{"id":12237665,"name":"Icolis","classID":1,"level":35,"guildRank":5},{"id":12237663,"name":"Kuchar","classID":6,"level":35,"guildRank":5}]}}}}}'
  recorded_at: Sat, 20 Sep 2025 23:00:04 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!) {\n  guildData {\n    guild(id: $guildID)
        {\n      id\n      name\n      server {\n        name\n        slug\n        region
        {\n          name\n          slug\n        }\n      }\n      members {\n        data
        {\n          id\n          name\n          classID\n          level\n          guildRank\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '784'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:16:50 GMT
recorded_with: VCR 6.3.1
