---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '287'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 23:00:15 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!) {\n  guildData {\n    guild(id:
        $guildID) {\n      id\n      name\n    }\n  }\n  reportData {\n    reports(guildID:
        $guildID, limit: $limit) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":10}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiJhMDExY2NiOTljZDhhZTc2NWM2YTY1NmNjNTEyMmRlNmE1MWUzZTI1NDU4OGU1MTU4MTA5NzE3MTI5NTEzYmFjYmFjM2NmYzE1YzM2MTJkZSIsImlhdCI6MTc1ODQwOTIxMy40NTIwNCwibmJmIjoxNzU4NDA5MjEzLjQ1MjA0NCwiZXhwIjoxNzg5NTEzMjEzLjQ0MjA0Mywic3ViIjoiIiwic2NvcGVzIjpbInZpZXctdXNlci1wcm9maWxlIiwidmlldy1wcml2YXRlLXJlcG9ydHMiXX0.uIxkt9eAXTiR7LOqs9uwhXSNKTOJ7Wc52lBLlFECAlfglBDTPScYjEjXbJnNd9-vEIFMxcehTIQI_ImwplhEW6_Kvy-i2Y42F3vfthl7l0_ci3UUq85OIuQdEDWj-4VAaS8XqfX60DmbAjUN2iEDWPHDEaTs-EqbR_JzPN8lIm4IQn6irt6bjasx9ucVcuHgqutovwKQUpRHgoACpW89hN5lN_sDh_LiR-429zeLpRnHz5od55oesI5HsuuobzF-1sqFitqEmC1ABLTD9Mg9jUar2vUUslDKTAHHLoMv53lrSoDao9Zta-GdE_lnbbxwoFK0vCN0OM2xJuemx1n7Fd67VtIqbLxhXCanij2_4xt-QKf_HuTq5llIOtexDZEG2tav7CjyoDygf9MvTYY0C0b4f9U-ZV3yIu3c48wmeXBP5vs03fLUsf-NTdJnqtzsSW0qq2sFk_62Wy9betG2teEhYfhxkDEEnLc5dgd-8ZwRLFi6LswHhCj5ObuTZ1tr95_r2p3yDq0_B-jh3ae_ufcFGUXV8YUTDGsVO6y4hZYmQwOXcZx1gFfT8wXXnt-o3WEBiL-Ty7Fik8RcxM4pyaIoZuvcBohzj1ftJbUcuu4Jf0yg9WmUIAR0G_4ch0Es5HiW8U8AU71nIuWe4_HHGTsI3DdVBxxKetd99XE5avs
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '786'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"guildData":{"guild":{"id":123456,"name":"Everlasting Bloodline"}},"reportData":{"reports":{"data":[]}}}}'
  recorded_at: Sat, 20 Sep 2025 23:00:17 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $limit: Int!) {\n  guildData {\n    guild(id:
        $guildID) {\n      id\n      name\n    }\n  }\n  reportData {\n    reports(guildID:
        $guildID, limit: $limit) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n        fights {\n          encounterID\n          name\n          difficulty\n          kill\n          startTime\n          endTime\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":123456,"limit":10}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '798'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:15:58 GMT
recorded_with: VCR 6.3.1
