---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '291'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 22:56:04 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($name: String!, $server: String!, $region: String!)
        {\n  characterData {\n    character(name: $name, serverSlug: $server, serverRegion:
        $region) {\n      id\n      name\n      classID\n      level\n      server
        {\n        name\n        slug\n        region {\n          name\n          slug\n        }\n      }\n      guildRank\n    }\n  }\n}\n","variables":{"name":"Testchar","server":"test-server","region":"US"}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiJhODRkZTcyNjQ2MzBlMWNlYTJlNzUxMGM4ZjcxMzI3Y2VlZWNjYWNjNjZhY2JmM2JkODg1ZDA1MDExZDhhMjZiYzg5M2U3MWQ4NDI4ZDBmOCIsImlhdCI6MTc1ODQwODk2NC4zMjUyNDYsIm5iZiI6MTc1ODQwODk2NC4zMjUyNSwiZXhwIjoxNzg5NTEyOTY0LjMxMjg5NCwic3ViIjoiIiwic2NvcGVzIjpbInZpZXctdXNlci1wcm9maWxlIiwidmlldy1wcml2YXRlLXJlcG9ydHMiXX0.Q4LDGHS7YiOdYFtWsmORZ8-f9NnDxrkBHA-YLECAsaK082adu0yZWfZtBXYhJMgd3WVAYnTw6wO1a4RdE5eb8OZRM8YLb4lVE3Noc0H-F4s8FOQ7opQ6vyhI0L5sf49Af_WgWgui63pUkY8Ly-Z_Zt6jOIBA80EMebTZl4_3RqKq6w1IDE6k3R0ZUqvfX3wxqvDBTVhveAyJ-qk67fpsx5guX-vDoKEVrIyUjec3iPyb_5-bcYE_No1SzeJI51SRHu8Ag4EHzb_tM9zOrL9S_hOJE-CQ3x-bQNHnNS77RPRr9SetrNXMrVYxgJEzjk32dnRrHCrHf8MetJFeZQdOMsaDxWu_RIikb9AeyJIQ3_yWtISUp2jPn5FZubO9g4DmL9lrXOUVNsKFZko_ikcuS6v7o9jgMxKP3vQaKh_zHe9TbHJ83tu5JCFOOgv3tc3v6mq9c6jDpF4cQJZSOYN2J7nWR5-er1z_0KtEJJIHIzcb1mqdo01-GGW8uvvwHbK12sXG7sOrpRhmhl1pzUeNJG_EXFssluhXHYnCgtqOQdHOc6QunT-Yf1AASxSAW0fVbadrwds79HYGeijSO-jHTA73HU34eAxGcyzHpOuPRAd1hMtd0LOjhJo9gBvvu_rH8D7Gz1pdxyzggPkYChr2M_ufyo_RbPCEBoODJdtVfRY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '790'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"characterData":{"character":null}}}'
  recorded_at: Sat, 20 Sep 2025 22:56:07 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($name: String!, $server: String!, $region: String!)
        {\n  characterData {\n    character(name: $name, serverSlug: $server, serverRegion:
        $region) {\n      id\n      name\n      classID\n      level\n      server
        {\n        name\n        slug\n        region {\n          name\n          slug\n        }\n      }\n      guildRank\n    }\n  }\n}\n","variables":{"name":"Testchar","server":"test-server","region":"US"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '781'
      Upgrade:
      - h2,h2c
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:01:44 GMT
recorded_with: VCR 6.3.1
