---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 22:54:48 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($name: String!, $server: String!, $region: String!,
        $limit: Int!) {\n  characterData {\n    character(name: $name, serverSlug:
        $server, serverRegion: $region) {\n      id\n      name\n    }\n  }\n  reportData
        {\n    reports(limit: $limit) {\n      data {\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n      }\n    }\n  }\n}\n","variables":{"name":"Testchar","server":"test-server","region":"US","limit":10}}'
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5ZmUxZDFjMi00MjBmLTQ3MGMtOTZmMi05MmIyNTA5ODhlMDkiLCJqdGkiOiI1ODdkZGVkMDY5MjYwZjg5OWI3YzQxMDBhYWI4M2JhYTU5Mjk4Mjk1YzA3ZThiNWY1NWI4N2Y3ZGU1ODY0ZjJmNTYxNWMxMTU5ODNiNzA0MSIsImlhdCI6MTc1ODQwODg4Ny45MzMxNywibmJmIjoxNzU4NDA4ODg3LjkzMzE3NSwiZXhwIjoxNzg5NTEyODg3LjkyNDIzOCwic3ViIjoiIiwic2NvcGVzIjpbInZpZXctdXNlci1wcm9maWxlIiwidmlldy1wcml2YXRlLXJlcG9ydHMiXX0.RgXOHz7282fvuffmP_xAHVP7slFUMyaZtNRoBEiOGv9gyMokKBrTgY8qlj4_FduzybKUrTBxteze-HNvmWwzVV6rdRYBAQmWgHzldCmnJZ4w4ezFoO-Z5EgUx0M25ELlyHmC9FlAohABCYy8Fo1y5klNMjof4CKLYI7Hmqq1o71Kl7IrV6_2MEdipzYcAsj484tP27FM5WqZon6xDmEherFXa-npQqoTQcJgfBUrZgfntWVZpTeekhj2vW1fyEeK5spISlrc6i6nVm4vWUpG7QOXOYTSJ62WHwS634y_9ICUtqtw-YK8lw3cqfb1UskJ2jMJqHeZFCw72mlmfbgkhpruZD2HpqhL-ufVBCIP9aVmnnzMfUTlJemwXMez_59cg-nwaSsmoJCaegOhZ16OviAPDNs33RPlcr9WRnCCkf2J-ZPfQGSPUJ9ssbU-IYafrnzQkcVrqQfwORw9nXy3oh2ej5qspoXjXDfy169rOYIUmGBiQ2KyxUzU2xQRwEu8S1UbKhpCbHNikrV28NCPxV1JRSJUdm2P0fidhk7iwWeBRolersvDPA0jzab1FyYAkKniI_FFQv68wXi5fcSNK6rI3NCx1r-tqjucuoPXmYcsbjrHx9-u5shPqIrP1huT9oQfTzn3wNoTePR4IVXob8t8EzK6t-NWXDPBeIFCCeY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '796'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"characterData":{"character":null},"reportData":{"reports":{"data":[{"title":"","startTime":1758396797692,"endTime":1758408127826,"zone":null},{"title":"Manaforge
        Omega","startTime":1758398249762,"endTime":1758399736024,"zone":{"name":"Manaforge
        Omega"}},{"title":"","startTime":1758372943904,"endTime":1758375641266,"zone":null},{"title":"Mythic+
        Season 3","startTime":1758405718532,"endTime":1758408884301,"zone":{"name":"Mythic+
        Season 3"}},{"title":"Manaforge Omega","startTime":1758405059808,"endTime":1758408884748,"zone":{"name":"Manaforge
        Omega"}},{"title":"Rhalle","startTime":1758381505167,"endTime":1758408878864,"zone":{"name":"Mythic+
        Season 3"}},{"title":"","startTime":1758189511104,"endTime":1758192896296,"zone":null},{"title":"","startTime":1758375320351,"endTime":1758405994232,"zone":null},{"title":"Heroic","startTime":1758404838699,"endTime":1758408883298,"zone":{"name":"Manaforge
        Omega"}},{"title":"direct dopamine injection STAT","startTime":1758384877689,"endTime":1758408862488,"zone":{"name":"Manaforge
        Omega"}}]}}}}'
  recorded_at: Sat, 20 Sep 2025 22:54:54 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($name: String!, $server: String!, $region: String!,
        $limit: Int!) {\n  characterData {\n    character(name: $name, serverSlug:
        $server, serverRegion: $region) {\n      id\n      name\n    }\n  }\n  reportData
        {\n    reports(limit: $limit) {\n      data {\n        title\n        startTime\n        endTime\n        zone
        {\n          name\n        }\n      }\n    }\n  }\n}\n","variables":{"name":"Testchar","server":"test-server","region":"US","limit":10}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '789'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:02:15 GMT
recorded_with: VCR 6.3.1
