---
http_interactions:
- request:
    method: post
    uri: https://www.warcraftlogs.com/oauth/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic OWZlMWQxYzItNDIwZi00NzBjLTk2ZjItOTJiMjUwOTg4ZTA5OmxSRkhJbzM4ZERHTmlwMTVRZmpYa3hUWjVsdzdsVEw2dEFEbWozc0I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","expires_in":31104000,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Sat, 20 Sep 2025 23:22:30 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $startTime: Float, $endTime: Float)
        {\n  reportData {\n    reports(guildID: $guildID, startTime: $startTime, endTime:
        $endTime, limit: 100) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          id\n          name\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":999999999,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '798'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"No guild exists for this id.","locations":[{"line":3,"column":5}],"path":["reportData","reports"]}],"data":{"reportData":{"reports":null}}}'
  recorded_at: Sat, 20 Sep 2025 23:22:35 GMT
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!, $startTime: Float, $endTime: Float)
        {\n  reportData {\n    reports(guildID: $guildID, startTime: $startTime, endTime:
        $endTime, limit: 100) {\n      data {\n        code\n        title\n        startTime\n        endTime\n        zone
        {\n          id\n          name\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":999999999,"startTime":1704096000000.0,"endTime":1706688000000.0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '799'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthenticated."}'
  recorded_at: Sat, 20 Sep 2025 23:25:41 GMT
[...]
- request:
    method: post
    uri: https://www.warcraftlogs.com/api/v2/client
    body:
      encoding: UTF-8
      string: '{"query":"query($guildID: Int!) {\n  guildData {\n    guild(id: $guildID)
        {\n      id\n      name\n      server {\n        name\n        slug\n        region
        {\n          name\n          slug\n        }\n      }\n      members {\n        data
        {\n          id\n          name\n          classID\n          level\n          guildRank\n        }\n      }\n    }\n  }\n}\n","variables":{"guildID":999999999}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '800'
      X-Ratelimit-Remaining:
      - '793'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"guildData":{"guild":null}}}'
  recorded_at: Sun, 21 Sep 2025 00:35:02 GMT
recorded_with: VCR 6.3.1
